HQOrderEntryImplementation/Service References/HQProductServiceASMXClient/HQProductServiceASMX.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="IsProductAvailableForCountry">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="productID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="countryCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsProductAvailableForCountryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsProductAvailableForCountryResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="IsProductAvailableForCountrySoapIn">
    <wsdl:part name="parameters" element="tns:IsProductAvailableForCountry" />
  </wsdl:message>
  <wsdl:message name="IsProductAvailableForCountrySoapOut">
    <wsdl:part name="parameters" element="tns:IsProductAvailableForCountryResponse" />
  </wsdl:message>
  <wsdl:portType name="HQProductServiceASMXSoap">
    <wsdl:operation name="IsProductAvailableForCountry">
      <wsdl:input message="tns:IsProductAvailableForCountrySoapIn" />
      <wsdl:output message="tns:IsProductAvailableForCountrySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HQProductServiceASMXSoap" type="tns:HQProductServiceASMXSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsProductAvailableForCountry">
      <soap:operation soapAction="http://tempuri.org/IsProductAvailableForCountry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HQProductServiceASMXSoap12" type="tns:HQProductServiceASMXSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsProductAvailableForCountry">
      <soap12:operation soapAction="http://tempuri.org/IsProductAvailableForCountry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HQProductServiceASMX">
    <wsdl:port name="HQProductServiceASMXSoap" binding="tns:HQProductServiceASMXSoap">
      <soap:address location="http://localhost:4931/HQProductServiceASMX.asmx" />
    </wsdl:port>
    <wsdl:port name="HQProductServiceASMXSoap12" binding="tns:HQProductServiceASMXSoap12">
      <soap12:address location="http://localhost:4931/HQProductServiceASMX.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>